#container {
    max-width: 1280px;
    margin: 0 auto;
}

#container,
header,
#intro,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1,
h2 {
    font-size: 3rem;
}

nav,
h1,
h2,
#intro p,
#main {
    padding-top: 32px;
}

a { 
    text-decoration: none;
    color: black;
}

/* Header */

nav {
    display: flex;
}

nav a {
    border: solid black 1px;
    padding: 8px 24px;
}

.active,
nav a:hover {
    color: white;
    background-color: black;
}

/* Intro */

#intro p {
    width: 80%;
}

/* Main */

#main {
    display: flex;
    flex-wrap: wrap;
}

#main img {
    object-fit: cover;
    object-position: bottom;
}

.featured {
    width: 100%;
    height: 350px;
    margin-bottom: 1%;
}

.caption,
#main img:nth-child(n+2) {
    width: 18.8%;
    height: 650px;
    margin: 0 0.5%;
}

#main img:nth-child(2) {
    margin-left: 0;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    flex-direction: column;
}

.caption p {
    padding: 20%;
}

/* Footer */

footer {
    width: 100%;
    background-color: lightgray;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer nav {
    margin-bottom: 32px;
    margin-left: 2%;
}

footer social {
    margin-right: 2%;
}

footer img {
    max-height: 64px;
}

footer nav a {
    background-color: white;
}

/* Additional Pages */

/* About */

#about {
    min-height: 100vh;
}

/* Projects */

#projects {
    min-height: 100vh;
}

/* Contact */

#contact {
    min-height: 100vh;;
}